<!-- Normalize CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" />

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<style type="text/css">

.carousel, .carousel-inner {
  height: 400px;
}

.carousel > .carousel-inner > .item > img {
  position: relative;
  object-fit: cover;
  min-width: 100%;
  top: -90px;
}

.navigation > a {
	display: inline-block;
	margin: 0 5px;
}
</style>